body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: "Open Sans", sans-serif;
    text-align: center;
}

hr {
    width: 90%;
}

#title {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2px;
}

#board {
    width: 350px;
    /* height: 420px; */
    height: 50%;
    margin: 0 auto;
    margin-top: 3px;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    /* Box */
    /* border: 2px solid lightgray; */
    border: 2px solid black;
    width: 60px;
    height: 60px; 
    margin: 2.5px;

    /* Text */
    color: black;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
}

.correct {
    background-color: #6AAA64;
    color: white;
    border: 2px solid black;
}

.present {
    background-color: #C9B458;
    color: white;
    border: 2px solid black;
}

.absent {
    background-color: #787C7E;
    color: white;
    border: 2px solid black;
}


.keyboard-row {
    /* width: 400px; */

    margin: 0 auto;
    display: flex;
    /* flex-wrap: wrap; */

}

.key-tile {
    /* width: 36px; */
    width: 30;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    color: #000;
    border: 3px solid;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.enter-key-tile {
    width: 76px;
    height: 40px;
    margin: 1px;
    border: 1px solid lightgray;
    color: #000;
    border: 3px solid;

    /* Text */
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.grid-container {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    grid-template-columns: auto;
    padding: 10px;
  }
  
.grid-item {
    /*
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid lightgray;
    padding: 2px;
    text-align: center;
    margin: 2px;    
    
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    */
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    border: 3px solid;
    padding: 0.25em 0.5em;
    margin: 2px;
    position: relative;
    
  }

  .flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    height: 95%;
    width: 100%;
  }

.button-54 {
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px, 5px 5px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-54:active {
  box-shadow: 0px 0px 0px 0px;
  top: 5px;
  left: 5px;
}

@media (min-width: 768px) {
  .button-54 {
    padding: 0.25em 0.75em;
  }
}

.key-tile:active {
    box-shadow: 0px 0px 0px 0px;
    top: 5px;
    left: 5px;
  }
